<header>
    <nav>
        <a href="/">My Forex Investment</a>
    </nav>
    <ul>
        <li><a href="/forexsignals">Forex Signals</a></li>
        <li><a href="/forexsignals/new">Add Forex Signals</a></li>
    </ul>
</header>